@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Michroma', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    background-color: #0D0D0D;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.secao-da-pagina {
    height: 100vh;
    scroll-snap-align: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-principal::-webkit-scrollbar {
  display: none;
}