.main-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    background-color: #0D0D0D;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.secao-da-pagina {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-principal::-webkit-scrollbar {
  display: none;
}